.blackBackground{
    width: 100%;
    height: 600px;
    color: white;
}
.blackBackground h1{
    font-size: 4em;
    padding: 5% 20% 2% 20%;
}
#bulletPoints{
    padding: 0 20%;
}
#bulletPoints span{
    margin-right: 2em;
}
#bulletPoints span p{
    margin-left: 1em;
}
#businessImg{
    display: block;
    width: 70%;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
    margin-bottom: 100px;
}
.smallHeading{
    padding: 0 15%;
    color: #576071;
}
.aboutHeading{
    padding: 0 15%;
    font-size: 3em;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}
.item{
    display: inline-block;
}
#whatWeDoHeading{
    padding: 0;
    margin: 0;
    width: 600px;
}
#whatWeDoDescription{
    width: 500px;
}
.missionPoints{
    width: 400px;
    border-radius: 30px;
    padding: 1em;
    background-color: #576071;
}
.missionIMG{
    width: 20px;
}
.missionPoints h3{
    margin: 20px 0;
}
#howWeWork{
    background-image: url(https://images.pexels.com/photos/1595385/pexels-photo-1595385.jpeg);
    background-position: center;
    border-radius: 100%;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#howWeWork p{
    color: white;
    font-weight: lighter;
    text-align: center;
}
#howWeWork h2{
    color: white;
    text-align: center;
}