{% extends "index.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="blackBackground bg-dark">
        <h1>We believe in the success <br>of every business</h1>
        <div id="bulletPoints">
            <span class="d-inline-block"><img class="d-inline-block" src="../static/images/hollywood-star.png" alt=""><p class="d-inline-block">Maximum realtor exposure</p></span>
            <span class="d-inline-block"><img class="d-inline-block" src="../static/images/hollywood-star.png" alt=""><p class="d-inline-block">Free property exposure</p></span>
            <span class="d-inline-block"><img class="d-inline-block" src="../static/images/hollywood-star.png" alt=""><p class="d-inline-block">Professional Service</p></span>
        </div>
    </div>
    
    <img id="businessImg" class="center" src="../static/images/pexels-fauxels-3184291.jpg" alt="Business Meeting">

    <div class="container">
        <div class="item">
            <p class="smallHeading">WHAT WE DO</p>
            <H1 class="aboutHeading">We are a team who create marketing strategies</H1>
        </div>
        <p class="item" id="whatWeDoDescription">Morbi et massa fames ac scelerisque sit commodo dignissim faucibus quisque proin lectus laoreet sem adipiscing sollicitudin erat massa tellus lorem enim aenean phasellus in hendrerit interdum lorem proin pretium dictum urna suspendisse quis risus et.
        <br><br>
        Sit congue tellus urna phasellus sagittis interdum sed laoreet eget curabitur. Vel magna sit aliquet viverra morbi massa mattis urna, feugiat egestas tincidunt ipsum diam quam massa amet odio nisi duis dolor.
        <br><br>   
        Ac facilisis eros sem faucibus aliquet venenatis amet fermentum nisi. Mauris consectetur sem malesuada. viverra a non sapien odio id risus volutpat at.</p>
    </div>


    <p class="smallHeading">OUR MISSION</p>
    <h1 class="aboutHeading">Professional approach</h1>
    <div>
        <img src="" alt="">
        <h3></h3>
        <p></p>
    </div>
    <div>
        <img src="" alt="">
        <h3></h3>
        <p></p>
    </div>
    <div>
        <img src="" alt="">
        <h3></h3>
        <p></p>
    </div>

    <!-- img as a background for the following-->
    <div>
        <p class="smallHeading">HOW WE WORK</p>
        <h2 class="aboutHeading">The key to success</h2>
    </div>

    <li>
        <ol>
            <h4>Formulation of the problem</h4>
            <p>Find aute irure dolor in reprehenderi voluptate velit esse cillum dolore eu fugiat nulla pariatur am luctus.</p>
        </ol>
        <ol>
            <h4>Assessment of the current state</h4>
            <p>Find aute irure dolor in reprehenderi voluptate velit esse cillum dolore eu fugiat nulla pariatur am luctus.</p>
        </ol>
        <ol>
            <h4>Business plan creation</h4>
            <p>Find aute irure dolor in reprehenderi voluptate velit esse cillum dolore eu fugiat nulla pariatur am luctus.</p>
        </ol>
        <ol>
            <h4>Strategy implementation</h4>
            <p>Find aute irure dolor in reprehenderi voluptate velit esse cillum dolore eu fugiat nulla pariatur am luctus.</p>
        </ol>
    </li>

    <!--For this section it needs to be created a moving part for the reviews-->
    <p class="smallHeading">TESTIMONIALS</p>
    <h1 class="aboutHeading">What our clients say</h1>
    <div>
        <img src="" alt="">
        <h4></h4>
        <p></p>

        <h3></h3>
    </div>

    <p class="smallHeading">WORK WITH US</p>
    <h1 class="aboutHeading">Our services</h1>
    <div>
        <img src="" alt="">
        <h3></h3>
        <p></p>
        <button></button>
    </div>
    <div>
        <img src="" alt="">
        <h3></h3>
        <p></p>
        <button></button>
    </div>
    <div>
        <img src="" alt="">
        <h3></h3>
        <p></p>
        <button></button>
    </div>
    <div>
        <img src="" alt="">
        <h3></h3>
        <p></p>
        <button></button>
    </div>
    <div>
        <img src="" alt="">
        <h3></h3>
        <p></p>
        <button></button>
    </div>
    <div>
        <img src="" alt="">
        <h3></h3>
        <p></p>
        <button></button>
    </div>  

    <h1>Let's start building brand together</h1>
    <button>Free Register</button>
{% endblock %}
