{% extends "index.html" %}

{% block title %}
    Terms and Conditions of Use
{% endblock %}

{% block main %}
    <div class="policyAndTerms">
        <h1>Terms and Conditions of Use</h1>

        <h4>Terms and Conditions of Use</h4>
        <p>Welcome to [Real Estate Company Name]! These Terms and Conditions of Use govern your use of our website. By accessing or using our website, you agree to comply with these terms. If you do not agree with any part of these terms, please do not use our website.</p>
        
        <h4>Use of Website</h4>
        <p>You must be at least 18 years old to use our website. By using our website, you represent and warrant that you are at least 18 years old.</p>
        <p>You agree to use our website for lawful purposes only and not to engage in any activity that violates any laws or infringes upon the rights of others.</p>
    
        <h4>Intellectual Property</h4>
        <p>All content, including text, graphics, logos, images, and software, on our website is the property of [Real Estate Company Name] or its licensors and is protected by copyright and other intellectual property laws.</p>
        <p>You may not reproduce, distribute, modify, or otherwise use any content from our website without our prior written consent.</p>
    
        <h4>User Accounts</h4>
        <p>Some features of our website may require you to create a user account. You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.</p>
        <p>You agree to provide accurate and complete information when creating your account and to update your information as necessary to keep it accurate and current.</p>
    
        <h4>Limitation of Liability</h4>
        <p>In no event shall [Real Estate Company Name] be liable for any indirect, incidental, special, or consequential damages arising out of or in connection with your use of our website or the information contained therein.</p>
    
        <h4>Changes to Terms</h4>
        <p>We reserve the right to update or change these Terms and Conditions of Use at any time without prior notice. Any changes will be posted on this page with a revised effective date. Your continued use of our website after any such changes constitutes acceptance of the revised terms.</p>
    
        <h4>Governing Law</h4>
        <p>These Terms and Conditions of Use shall be governed by and construed in accordance with the laws of [jurisdiction], without regard to its conflict of law principles.</p>
    
        <h4>Contact Us</h4>
        <p>If you have any questions or concerns about these Terms and Conditions of Use, please contact us at [contact email or phone number].</p>
        <p>These Terms and Conditions of Use were last updated on [insert date].</p>
    </div>
{% endblock %}
